body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  width: 100%;
  height: 52px;
  bottom: 0 !important;
  position: fixed;
  background-color: #ffffff;
  display: flex !important;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 7px 4px 5px 2px rgba(0,0,0,1);
  -moz-box-shadow: 7px 4px 5px 2px rgba(0,0,0,1);
  box-shadow: 7px 4px 5px 2px rgba(0,0,0,1);
}

footer p {
  margin-bottom: 0;
  color: #000;
}
